{% extends 'main/layout.html' %}

{% block title %}
Создание поста
{% endblock %}


{% block content %}

<div class="features">
    <h1>Создание поста</h1>



    <form method="post">
        {% csrf_token %}
        {{form.theme}} <br>
        {{form.appointment}} <br>
        {{form.is_link}} <label for="{{ form.is_link.id_for_label }}">Есть ли ссылка в посте?</label><br>
        {{form.is_shkn}} <label for="{{ form.is_link.id_for_label }}">Есть ли ШКН в названии?</label><br><br>
        {{form.date}}<br>
        <span>{{error}}</span>
        <button class="btn btn-success" type="submit">Создать пост</button>
    </form>

</div>

{% endblock %}