{% extends 'main/layout.html' %}

{% block title %}
Созданные посты
{% endblock %}


{% block content %}

<div class="features">
    <h1>{{ title }}</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nesciunt
        nam excepturi, quam magnam harum quidem quo voluptas culpa omnis veritatis
        dignissimos vitae iusto architecto temporibus odio molestiae nobis!
        Corporis!
    </p>
    <button class="btn btn-warning">На страницу про нас</button>
</div>

{% endblock %}