{% extends 'main/layout.html' %}

{% block title %}
Созданные посты
{% endblock %}


{% block content %}

<div class="features">
    <h1>Посты</h1>
    {% if posts %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Theme</th>
                <th>Выбор</th>
            </tr>
        </thead>
        <tbody>
            {% for el in posts %}
            <tr>
                <td>{{el.id}}</td>
                <td>{{el.date}}</td>
                <td>{{el.theme}}</td>
                <td><input type="checkbox" name="item" value="{{el.id}}"></td>
                <td><a href="{% url 'delete' el.id %}">Удалить</a></td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% else %}
    <p>Нет созданных постов</p>
    {% endif %}

</div>

{% endblock %}