{% extends 'main/layout.html' %}

{% block title %}
Созданные посты
{% endblock %}


{% block content %}

<div class="features">
    <h1>Посты</h1>
    {% if posts %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Theme</th>
                <th>Выбор</th>
            </tr>
        </thead>
        <form method="POST" action="{% url 'model_page' %}">
            {% csrf_token %}
            <tbody>
                {% for el in posts %}
                <tr>
                    <td>{{ el.id }}</td>
                    <td>{{ el.date }}</td>
                    <td>{{ el.theme }}</td>
                    <td><input type="checkbox" name="selected_items" value="{{ el.id }}"></td>
                    <td><a href="{% url 'posts_delete' el.id %}" class="icon"><i class="fas fa-times"></i></a></td>
                    <td><a href="{% url 'posts_update' el.id %}" class="icon"><i class="fas fa-pencil-alt"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
            <input type="submit" value="Отправить">
        </form>

    </table>

    {% else %}
    <p>Нет созданных постов</p>
    {% endif %}

</div>

{% endblock %}